{% extends 'base.html.twig' %}

{% block title %}Work in Progress{% endblock %}

{% block body %}
    <h1>Work in Progress</h1>
    <p>Cette fonctionnalité est en cours de développement. Revenez bientôt !</p>
{% endblock %}

